@media screen and (max-width: 767px) {

    /*Iphone*/
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    main {
        width: 100%;
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: 'Raleway-Medium';
    }

    h1 {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 1.15rem;
    }

    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: 0.9rem;
    }

    a {
        font-size: 0.9rem;
    }

    p {
        font-size: 0.9rem;
    }

    span {
        font-size: 0.98rem;
    }

    #bloc_header {
        -ms-flex-direction: column-reverse;
        -webkit-box-direction: reverse;
        -webkit-box-orient: vertical;
        flex-direction: column-reverse;
    }

    #bloc_logo {
        -ms-flex-direction: column;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        /* -ms-flex-pack: center; */
        /* -webkit-box-pack: center; */
        /* justify-content: center; */
        /* margin-top: 1em; Le navigateur le prends pas en compte*/
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        flex-direction: column;
        /* margin: auto; */
        width: 80%;
        margin: 0 0 0 15px;
    }

    #logo {
        left: 17px;
        position: absolute;
        top: 17px;
    }

    #bloc_menu {
        width: 100%;
    }

    #bloc_menu a {
        padding: 0 0 15px 0;
    }

    #menu_portable {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    a.current {
        border-bottom: 2px solid rgba(0, 101, 252, 1);
        border-top: none;
    }

    .hover_menu:hover {
        border: none;
    }

    div#hebergements_menu,
    a.hover_menu {
        margin: 0;
        text-align: center;
    }

    #menu_portable div {
        width: 50%;
    }

    #inscription_menu {
        margin: 0;
        position: absolute;
        right: 17px;
        top: 34px;
    }

    #bloc_menu {
        /* margin: 110px 0 0 0; */
        margin: 100px 0 40px 0;
        width: 100%;
    }

    input {
        height: 93%;
    }

    #search_Bloc3 {
        border-radius: 0 15px 15px 0;
        margin-left: -20px;
        width: 15%;
    }

    #bloc_search-form {
        /* -ms-flex-pack: center; */
        /* -webkit-box-pack: center; */
        /* justify-content: center; */
        /* margin: 1em 0 0 10px; */
        /* margin: 20px 0 0px 10px; */
        height: 3.5rem;
        margin: 20px 0 0px 15px;
        width: 95%;
    }

    #search_Bloc1 {
        width: 15%;
        height: 100%;
    }

    #search_Bloc2 {
        width: 70%;
        height: 100%;
    }

    input {
        height: 93%;
        width: 100%;
    }

    ::placeholder {
        font-size: 3.5vw;
    }

    #search_text {
        display: none;
    }

    #search_Bloc3 {
        border-radius: 15px;
        margin-left: -20px;
        width: 15%;
        height: 100%;
    }

    #search_icon {
        display: inline;
    }

    #bloc_filtres {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
    }

    #titre_filtres {
        /* margin: auto; */
        width: 90%;
        margin: 0 0 0 15px;
    }

    #bloc_boutons_filtres {
        -ms-flex-pack: start;
        -ms-flex-wrap: wrap;
        -webkit-box-pack: start;
        /* margin: 15px auto auto auto; */
        /* margin: 5% auto auto auto; */
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        margin: 15px auto auto 15px;
        width: 90%;
    }

    #bloc_economic_filter,
    #bloc_family_filter,
    #bloc_pet_filter,
    #bloc_romantic_filter {
        margin: 2% 3% 0 0;
    }

    #economic_text,
    #family_text,
    #romantic_text,
    #pet_text {
        height: auto;
    }

    #info {
        /* height: 15px; */
        /* position: relative;
        /* right: -5px; */
        /* width: 95%; */
        margin: 0 0 40px 15px;
        width: 88%;
    }

    #info_icon {
        -ms-flex-align: center;
        -ms-flex-pack: center;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        align-items: center;
        border-radius: 50%;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        height: 19px;
        justify-content: center;
        margin: 0 0.5em -0.5em 0em;
        padding: 2.5px 0px 3px 0px;
        width: 28px;
    }

    i.fas.fa-info.fa-xs {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }

    #hosting {
        -ms-flex-direction: column-reverse;
        -webkit-box-direction: reverse;
        -webkit-box-orient: vertical;
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    .hosting_cards {
        -webkit-box-shadow: 2px 2px 10px lightgrey;
        /* margin: 0 auto 5% auto; */
        box-shadow: 2px 2px 10px lightgrey;
        height: auto;
        margin: 0 auto 5% auto;
        width: auto;
    }

    .photos_hebergements {
        display: none;
    }

    .photos_hebergements_smartphone {
        border-radius: 20px;
        display: inline;
        width: 335px;
    }

    #bloc_hebergements {
        background-color: #FFFFFF;
        border-radius: 0;
        margin: auto;
        padding: 10px;
        width: auto;
    }

    #titre_hebergements,
    #titre_populaires,
    #titre_activites {
        /* margin-left: 15px; */
        margin: 0 0 0 5px;
    }

    #titre_hebergements {
        padding-bottom: 5px;
        margin-top: -10px;
    }

    .text_hosting_cards {
        /* height: 45px; */
        height: 35px;
        margin: auto;
        top: -20px;
        position: relative;
    }

    .title_hosting_cards {
        margin-bottom: -4px;
    }

    /* .stars {
        margin-top: -8px;
    } */
    i.fas.fa-star {
        font-size: 10px;
    }

    #afficher_plus a {
        margin: 0 0 0 15px;
        font-size: 0.9rem;
    }

    #chart_icon {
        font-size: 24px;
    }

    .popular_cards {
        -webkit-box-shadow: 2px 2px 10px lightgrey;
        box-shadow: 2px 2px 10px lightgrey;
        margin: 2% auto;
        width: 345px;
    }

    .div_photos_populaires {
        width: 40%;
    }

    /* .title_popular_cards {
        margin-bottom: -10px;
    } */
    #bloc_populaires {
        border-radius: 0;
        margin-bottom: 20px;
        width: auto;
    }

    .text_popular_cards {
        margin: 5px 10px 0 10px;
    }

    #activities {
        padding: 10px;
    }

    #bloc_activites {
        -ms-flex-direction: column;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        flex-direction: column;
    }

    #sousbloc_activites1,
    #sousbloc_activites2-3,
    #sousbloc_activites4,
    #sousbloc_activites5-6,
    .activities_medium_card1,
    .activities_small_card1,
    .activities_small_card2,
    .activities_medium_card2,
    .activities_big_cards {
        -ms-flex-direction: column;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        flex-direction: column;
        height: auto;
        margin: auto;
        width: 335px;
    }

    .activities_big_cards,
    .activities_medium_card1,
    .activities_medium_card2,
    .activities_small_card1,
    .activities_small_card2 {
        -webkit-box-shadow: 2px 2px 10px lightgrey;
        box-shadow: 2px 2px 10px lightgrey;
        margin-top: 5%;
    }

    .photos_activites {
        display: none;
    }

    .photos_activites_smartphone {
        border-radius: 20px;
        display: inline;
        width: 335px;
    }

    .activities_text_cards {
        height: 20px;
        margin: 0 0 0 0vw;
        padding: 8px 15px 0 10px;
        position: relative;
        top: -20px;
        width: auto;
    }

    footer {
        width: 100%;
    }

    #bloc_footer {
        -ms-flex-direction: column;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        flex-direction: column;
        margin: 0 0 0 20px;
    }
}
