@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Bold.ttf') format('truetype'),
        url('font/Raleway-ExtraBold.ttf') format('truetype'),
        url('font/Raleway-ExtraLight.ttf') format('truetype'),
        url('font/Raleway-Light.ttf') format('truetype'),
        url('font/Raleway-Medium.ttf') format('truetype'),
        url('font/Raleway-Regular.ttf') format('truetype'),
        url('font/Raleway-SemiBold.ttf') format('truetype'),
        url('font/Raleway-Thin.ttf') format('truetype'),        
}

body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin: 0 4em 4em 4em;
}

/* Logo et menu */

#blocHeader {
    display: flex;
    flex-direction: row;
}

#blocLogo {
   width: 70%;
   margin-top: 4em;
}

#blocMenu {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-top: 4em;
}

.thin_text {
    font-weight: 100;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 20px;
}

a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 3.9em;
}

.current {
    border-top: 2px solid #0065FC;
    padding-top: 3.9em;
    color: #0065FC;
}


/* Recherche */

#bloc_searchForm {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 3em;
}

#map_marker_icon {
    padding: 1em 0 0 1.3em;
}

#searchBloc1 {
    width: 9%;
   
    background-color: #F2F2F2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#searchBloc2 {
    width: 35%;  
   
}

#searchBloc3 {
    width: 17%;
  
    background-color: #0065FC;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;  
}

#searchBloc3 {
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 1em 0 0 1.3em;  
}

#searchBloc3:hover {
    color: #0065FC;
    cursor: pointer;
    background-color: #DEEBFF;
}

/* Filtres */

#bloc_filtres {
    display: flex;
    flex-direction: row; 
    padding-left: 0.5em;
    width: auto;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

#titre_filtres {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
}

#bloc_economicFilter {
    display: flex;   
    margin: 1.3em 0 0 2em; 
    width: 13%;
    height: 50px;
}

#economic_icon {
    background-color: #DEEBFF;
    padding: 1.1em 0.9em 0 0.9em;
    border-radius: 60%;
    z-index: 99;
    color: #0065FC;
}

#economic_text {
    border: solid #F2F2F2;
    border-width: 3px 3px 3px 0;
    padding: 0.9em 1em 0 2em;
    margin-left: -1.5em;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    font-weight: bold;
}

#economic_text:hover {
    background-color: #DEEBFF;
    border: solid #DEEBFF;
    border-width: 3px 3px 3px 0;
    cursor: pointer;
    color: #0065FC;
}

#bloc_familyFilter {
    display: flex;   
    margin: 1.3em 0 0 2em; 
    width: 10%;
    height: 50px; 
}

#family_icon {
    background-color: #DEEBFF;
    padding: 1.1em 1.2em 0 1.2em;
    border-radius: 60%;
    z-index: 99;
    color: #0065FC;
}

#family_text {
    border: solid #F2F2F2;
    border-width: 3px 3px 3px 0;
    padding: 0.9em 1em 0 2em;
    margin-left: -1.5em;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    font-weight: bold;
}

#family_text:hover {
    background-color: #DEEBFF;
    border: solid #DEEBFF;
    border-width: 3px 3px 3px 0;
    cursor: pointer;
    color: #0065FC;
}

#bloc_romanticFilter {
    display: flex;   
    margin: 1.3em 0 0 2em; 
    width: 13%;
    height: 50px;
}

#romantic_icon {
    background-color: #DEEBFF;
    padding: 1.1em 1em 0 1em;
    border-radius: 60%;
    z-index: 99;
    color: #0065FC;
}

#romantic_text{
    border: solid #F2F2F2;
    border-width: 3px 3px 3px 0;
    padding: 0.9em 1em 0 2em;
    margin-left: -1.5em;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    font-weight: bold;
}

#romantic_text:hover {
        background-color: #DEEBFF;
        border: solid #DEEBFF;
        border-width: 3px 3px 3px 0;
        cursor: pointer;
        color: #0065FC;
}

#bloc_petfriendlyFilter{
    display: flex;   
    margin: 1.3em 0 0 1.7em; 
    width: 30%;
    height: 50px;
}

#pet_icon {
    background-color: #DEEBFF;
    padding: 1em 1em 0 1em;
    border-radius: 60%;
    z-index: 99;
    color: #0065FC;
}

#petfriendly_text {
    border: solid #F2F2F2;
    border-width: 3px 3px 3px 0;
    padding: 0.9em 1em 0 2em;
    margin-left: -1.5em;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    font-weight: bold;
}

#petfriendly_text:hover {
    background-color: #DEEBFF;
    border: solid #DEEBFF;
    border-width: 3px 3px 3px 0;
    cursor: pointer;
    color: #0065FC;
}

#info_icon {
    padding-left: 0.5em;
}

span {
    color: black;
    font-size: 15px;
}

/* Hébergements */

#hosting {
    display: flex;
    flex-direction: row;
}

#titre_hebergements {
    width: 100%;
}

#bloc_hebergements {
    width: 65%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 1em 2em 2em 2em;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    margin-right: 3%;
}

.photos {
    border: solid white 5px;
    width: 200px;
    height: 133px;
    border-radius: 12%;
}

#card1-1 {
    margin: 0 2em 2em 0;
    height: 133px;  
    width: 200px;
}

#card2-1 {
    margin: 0 2em 2em 0;
    height: 133px;  
    width: 200px;
}

#card3-1 {
    margin: 0 0 2em 0;
    height: 133px;  
    width: 200px;
}

#card4-1 {
    margin: 0 0 2em 0;
    height: 133px;  
    width: 200px;
}

#card5-1 {
    margin: 0 0 2em 0;
    height: 133px;  
    width: 200px;
}

#card6-1 {
    margin: 0 0 2em 0;
    height: 133px;  
    width: 200px;
}

.bold_text {
    font-weight: bold;
}

/* Les plus populaires */

#bloc_populaires {
    width: 25%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 1em 2em 2em 2em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

#titre_populaires {
    display: flex;
    flex-direction: row;
    width: 110%;
}

#chart_icon {
    padding: 1em 0 0 4em;
}

/* Activités */

#titre_activites {
    width: auto;
    margin-top: 4em;
}

#bloc_activites {
    width: auto;
    display: flex;
}

#sousbloc-1 {
    width: 25%;
    display: flex;  
}

#sousbloc-2{
    width: 25%; 
}

#sousbloc-3 {
    width: 25%;
    display: flex;
    flex-direction: row;   
}

#sousbloc-4 {
    width: 25%;
}

/* Footer */

#footer {
    background-color: #F2F2F2 ;
    width: 150%;
    margin-bottom: -5em;
    margin-inline-start: -4em;
    padding: 1em 4em 1em 4em;
    display: flex;
    flex-direction: row;
}

#apropos {
    width: 23%;
}

#noshebergements {
    width: 23%;
}

#assistance {
    width: 23%;
}




@media all and (max-width: 1024px){
    #blocMenu {
        width: auto;
        
    }
}



