@media all and (max-width: 1280px) {
    body {
        margin: 0 3%;
    }
    
    main {
        width: 1150px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 15px;
    }

    p {
        font-size: 14px;
    }

    span {
        font-size: 17px;
    }

    #bloc_search-form {
        width: 45%;
    }

    #search_Bloc1 {
        width: 10%;
        height: 52px;
    }

    #search_Bloc2 {
        width: 40%;
    }

    input {
        width: 100%;
        height: 100%;
    }

    #search_Bloc3 {
        width: 30%;
        height: 52px;
    }

    #bloc_filtres {
        width: 100%;
    }

    #bloc_boutons_filtres {
        width: 65%;
    }
    #bloc_hebergements {
        width: 70%;
    }

    #titre_hebergements {
        height: 40px;
        margin: 0 0 2% 2%;
    }

    .hosting_cards {
        height: 177px;
        margin: 0 auto 2% auto;
    }

    .text_hosting_cards {
        padding: 0.5em 0 0 0.4em;
        top: -20px;
    }

    .title_hosting_cards {
        margin-bottom: -10px;
    }

    #bloc_populaires .stars {
        bottom: -20px;
    }

    #div_popular_cards {
        top: 8px;
    }

    #titre_populaires {
        margin-bottom: 1px;
    }

    .title_popular_cards {
        margin-bottom: -10px;
    }

    #bloc_populaires .stars {
        bottom: -8px;
    }

}   