@media all and (max-width: 1440px) 
{   
    body {
    margin: 0 3%;
    }

    main {
    width: 1150px;
    }

    h1 {
        font-family: 'Raleway-Bold';
        font-size: 24px;
        margin-bottom: 1px;
    }
    
    h2 {
        font-family: 'Raleway-Bold';
        font-size: 20px;
    }
    
    h3 {
        font-family: 'Raleway-Bold';
        font-size: 18px;
    }
    
    h4 {
        margin: 0;
        margin-bottom: -10px;
        padding: 0;
        font-family: 'Raleway-SemiBold';
        font-size: 15px;
    }
    
    p {
        font-family: 'Raleway-Light';
        font-size: 14px;
    }
    
    span {
        color: black;
        font-size: 15px;
        margin-top: 3px;
    }

    #bloc_boutons_filtres {
        width: 80%;
    }

    #bloc_hebergements {
        width: 80%;
    }

    #titre_hebergements {
        margin-bottom: 55px;
    }

    .title_hosting_cards {
        height: 15px;
        margin-bottom: -10px;
    }

    .hosting_cards {
        height: 180px;
        width: 200px;
    }

    .text_hosting_cards {
        height: 60px;
        top: -20px;
    }

    .stars {
        margin-top: -2px;
    }

    #div_popular_cards {
        top: 4px;
    }

    #bloc_populaires .stars {
        bottom: -5px;
    }

    .title_popular_cards {
        margin-bottom: -10px;
    }

    .text_popular_cards {
        width: 60%;
    }

    .div_photos_populaires {
        width: 40%;
    }

    .photos_activites {
        width: 273px;
    }

    .activities_text_cards {
        height: 55px;
        margin-top: -50px;
    }

    

}