@media all and (max-width: 1440px) {
    .activities_text_cards {
        height: 55px;
        margin: -15% -0.4% 0 -0.4%;
    }

    #bloc_boutons_filtres {
        width: 80%;
    }

    .hosting_cards {
        height: 180px;
    }

    .text_hosting_cards {
        height: 60px;
        top: -14px;
    }

    .title_hosting_cards {
        height: 15px;
    }

    #sousbloc_activites1,
    #sousbloc_activites2-3,
    #sousbloc_activites4,
    #sousbloc_activites5-6 {
        height: auto;
    }

    .activities_big_cards {
        margin: 0;
    }

    .photos_activites {
        width: 100%;
    }

    .activities_small_card1 {
        width: 100%;
    }

    .activities_medium_card1 {
        margin: 0 auto 37px auto;
    }

    .activities_small_card2 {
        margin: 0 auto 37px auto;
    }

    .text_popular_cards {
        width: 60%;
    }

    .div_photos_populaires {
        width: 40%;
    }

    #bloc_populaires .stars {
        bottom: -35px;
    }

    #div_popular_cards {
        top: 4px;
    }

    #sousbloc_activites1 {
        width: 23%;
        margin: auto 3% auto 0
    }

    #sousbloc_activites2-3 {
        width: 23%;
        margin: auto 3% auto 0
    }

    #sousbloc_activites4 {
        width: 23%;
        margin: auto 3% auto 0
    }

    #sousbloc_activites5-6 {
        width: 23%;
        margin: auto 0 auto 0
    }

    .activities_text_cards {
        height: 55px;
        margin: -19% -0.2% 0 -0.2%;
    }
}