@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Medium.ttf') format('truetype'),
        url('font/Raleway-ExtraLight.ttf') format('truetype'),
        url('font/Raleway-Light.ttf') format('truetype'),
        url('font/Raleway-Medium.ttf') format('truetype'),
        url('font/Raleway-Regular.ttf') format('truetype'),
        url('font/Raleway-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('font/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('font/Raleway-ExtraBold.ttf') format('truetype');
}

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin: 0 4em 4em 4em;
}

a {
    display: block;
    transition: color 0.6s linear;
}

a:hover {
    color: #0065FC;
}

.thin_text {
    font-size: 13px;
}

h1 {
    font-family: 'Raleway-SemiBold';
    font-size: 20px;
    margin-bottom: 7px;
}

h3 {
    font-family: 'Raleway-SemiBold';
    font-size: 16px;
}

span {
    color: black;
    margin-top: 3px;
}

span,
p {
    font-size: 15px;
}

html {
    overflow-x: hidden;
}

/* Logo et menu */
#bloc_header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#bloc_logo {
    width: 70%;
    margin-top: 4em;
}

#bloc_menu {
    /*margin-top: 4em;*/
    display: flex;
    justify-content: space-between;
    width: 30%;
}

#bloc_menu a {
    padding: 3.9em 0 0 0;
}

a.current {
    border-top: 2px solid rgba(0, 101, 252, 1);
    padding-top: 3.9em;
    color: rgba(0, 101, 252, 1);
}

.hover_menu {
    border-top: 2px solid rgba(0, 101, 252, 0);
    transition: border-color 0.6s linear;
}

.hover_menu:hover {
    border-top: 2px solid rgba(0, 101, 252, 1);
}

#inscription_menu {
    font-family: 'Raleway-SemiBold';
}

/* Recherche */
#bloc_search-form {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 3em;
    margin-top: 1em;
}

#search_Bloc1 {
    width: 3em;
    height: 3em;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search_Bloc2 {
    /* width: 33%;  */
    height: auto;
}

input {
    height: 3.3em;
    border: solid #F2F2F2 1px;
}

::placeholder {
    font-family: 'Raleway-SemiBold';
    font-size: 15px;
    padding-left: 0.8em;
    color: black;
}

input:hover::placeholder {
    color: lightgrey;
}

input:focus::placeholder {
    color: lightgrey;
}

#search_Bloc3 {
    align-items: center;
    background-color: #0065FC;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    display: flex;
    font-size: 15px;
    font-weight: bold;
    height: auto;
    justify-content: center;
    width: 17%;
}

#search_Bloc3:hover {
    color: #0065FC;
    cursor: pointer;
    background-color: #DEEBFF;
}

/* Filtres */
#bloc_filtres {
    display: flex;
    flex-direction: row;
    padding-left: 0.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 75%;
}

#titre_filtres {
    align-items: center;
    display: flex;
    font-family: 'Raleway-SemiBold';
    width: 6%;
}

#bloc_boutons_filtres {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
}

#bloc_economic_filter {
    display: flex;
    height: 50px;
}

#economic_icon {
    background-color: #DEEBFF;
    border-radius: 60%;
    color: #0065FC;
    padding: 1em 0.9em 0 0.9em;
    z-index: 99;
}

#economic_icon_reversed {
    background-color: #0065FC;
    border-radius: 60%;
    color: #DEEBFF;
    display: none;
    padding: 1em 0.9em 0 0.9em;
    z-index: 99;
}

#bloc_economic_filter:hover #economic_icon_reversed {
    display: block;
    cursor: pointer;
}

#bloc_economic_filter:hover #economic_icon {
    display: none;
}

#economic_text {
    align-items: center;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    border-width: 3px 3px 3px 0;
    border: solid #F2F2F2;
    display: flex;
    font-family: 'Raleway-SemiBold';
    margin-left: -22px;
    padding: 0 1em 0 2em;
    text-align: center;
    width: 94px;
}

#bloc_economic_filter:hover #economic_text {
    background-color: #DEEBFF;
    border-width: 3px 3px 3px 0;
    border: solid #DEEBFF;
    color: #0065FC;
    cursor: pointer;
}

#bloc_family_filter {
    display: flex;
    height: 50px;
}

#family_icon {
    background-color: #DEEBFF;
    border-radius: 60%;
    color: #0065FC;
    padding: 1em 1.2em 0 1.2em;
    z-index: 99;
}

#family_icon_reversed {
    background-color: #0065FC;
    border-radius: 60%;
    color: #DEEBFF;
    display: none;
    padding: 1em 1.2em 0 1.2em;
    z-index: 99;
}

#bloc_family_filter:hover #family_icon_reversed {
    display: block;
    cursor: pointer;
}

#bloc_family_filter:hover #family_icon {
    display: none;
}

#family_text {
    align-items: center;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    border-width: 3px 3px 3px 0;
    border: solid #F2F2F2;
    display: flex;
    font-family: 'Raleway-SemiBold';
    margin-left: -1.5em;
    padding: 0 1em 0 2em;
}

#bloc_family_filter:hover #family_text {
    background-color: #DEEBFF;
    border: solid #DEEBFF;
    border-width: 3px 3px 3px 0;
    cursor: pointer;
    color: #0065FC;
}

#bloc_romantic_filter {
    display: flex;
    /* margin: 1.3em 0 0 0;  */
    /* width: 13%; */
    height: 50px;
}

#romantic_icon {
    background-color: #DEEBFF;
    padding: 1em 1em 0 1em;
    border-radius: 60%;
    z-index: 99;
    color: #0065FC;
}

#romantic_icon_reversed {
    background-color: #0065FC;
    padding: 1em 1em 0 1em;
    border-radius: 60%;
    z-index: 99;
    color: #DEEBFF;
    display: none;
}

#bloc_romantic_filter:hover #romantic_icon_reversed {
    display: block;
    cursor: pointer;
}

#bloc_romantic_filter:hover #romantic_icon {
    display: none;
}

#romantic_text {
    align-items: center;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    border-width: 3px 3px 3px 0;
    border: solid #F2F2F2;
    display: flex;
    font-family: 'Raleway-SemiBold';
    margin-left: -1.5em;
    padding: 0 1em 0 2em;
}

#bloc_romantic_filter:hover #romantic_text {
    background-color: #DEEBFF;
    border: solid #DEEBFF;
    border-width: 3px 3px 3px 0;
    cursor: pointer;
    color: #0065FC;
}

#bloc_pet_filter {
    display: flex;
    /* margin: 1.3em 0 0 0;  */
    /* width: 26%; */
    height: 50px;
}

#pet_icon {
    background-color: #DEEBFF;
    padding: 1em 1em 0 1em;
    border-radius: 60%;
    z-index: 99;
    color: #0065FC;
}

#pet_icon_reversed {
    background-color: #0065FC;
    padding: 1em 1em 0 1em;
    border-radius: 60%;
    z-index: 99;
    color: #DEEBFF;
    display: none;
}

#bloc_pet_filter:hover #pet_icon_reversed {
    display: block;
    cursor: pointer;
}

#bloc_pet_filter:hover #pet_icon {
    display: none;
}

#pet_text {
    align-items: center;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    border-width: 3px 3px 3px 0;
    border: solid #F2F2F2;
    display: flex;
    font-family: 'Raleway-SemiBold';
    margin-left: -1.5em;
    padding: 0 1em 0 2em;
}

#bloc_pet_filter:hover #pet_text {
    background-color: #DEEBFF;
    border: solid #DEEBFF;
    border-width: 3px 3px 3px 0;
    cursor: pointer;
    color: #0065FC;
}

/* Icone info */
#info {
    display: flex;
    flex-direction: row;
    height: 15px;
}

#info_icon {
    margin: 0 0.5em -0.5em 1em;
    color: #0065FC;
    border: solid #F2F2F2 1px;
    width: 13px;
    padding-left: 8px;
    padding-bottom: 0.5em;
    border-radius: 50%;
}

/* Hébergements */
#hosting {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

#titre_hebergements {
    font-family: 'Raleway-SemiBold';
    font-size: 20px;
    height: 0px;
    margin: 0 0 5% 2%;
    width: 100%;
}

#bloc_hebergements {
    width: 70%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 2% 1% 2% 1%;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 3%;
}

.photos_hebergements {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.hosting_cards {
    background-color: white;
    border-radius: 20px;
    border: solid white 5px;
    box-shadow: 3px 3px 15px lightgrey;
    height: 230px;
    margin: 2%;
    width: 28%;
}

.text_hosting_cards {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 13px;
    height: 70px;
    opacity: 0.99;
    padding: 0.5em 0 0 1em;
    position: relative;
    top: -24px;
    width: auto;
    z-index: 99;
}

.title_popular_cards {
    font-family: 'Raleway-SemiBold';
    font-size: 14px;
    height: 30px;
    margin-bottom: 5px;
}

#afficher_plus {
    margin-left: 2%;
}

/* Etoiles de notation */
.stars {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.emptystars {
    color: #F2F2F2;
}

.fullstars {
    color: #0065FC;
}

/* Les plus populaires */
#bloc_populaires {
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 2% 4% 2% 3%;
    margin-top: 2em;
}

#bloc_populaires .stars {
    position: relative;
    bottom: -70px;
}

#titre_populaires {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: 'Raleway-SemiBold';
    font-size: 20px;
    height: 50px;
    margin: 0 0 5% 1%;
    width: 100%;
}

#chart_icon {
    padding-left: 54%;
}

.div_photos_populaires {
    display: flex;
    width: 35%;
}

.photos_populaires {
    border: solid white 5px;
    height: auto;
    border-radius: 20px 0 0 20px;
    width: 100%;
}

.text_popular_cards {
    background-color: white;
    border-radius: 0 20px 20px 0;
    font-size: 13px;
    height: auto;
    opacity: 0.99;
    padding: 0.8em 2em 0.8em 1.5em;
    position: relative;
}

#div_popular_cards {
    display: flex;
    flex-direction: column;
    position: relative;
}

.popular_cards {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 3px 3px 15px lightgrey;
    background-color: white;
}

.popular_cards a {
    display: flex;
    width: 100%;
}

/* Activités */
#titre_activites {
    width: 100%;
    font-family: 'Raleway-SemiBold';
    font-size: 20px;
    margin: 3% 0 1% 0;
}

#bloc_activites {
    width: 100%;
    height: auto;
    margin-bottom: 2%;
    display: flex;
}

.title_activities_cards {
    font-size: 14px;
    margin-bottom: 5px;
    font-family: 'Raleway-SemiBold';
}

.photos_activites {
    border-radius: 20px 20px 0 0;
    height: auto;
}

#sousbloc_activites1 {
    display: flex;
    flex-direction: row;
    width: 20%;
    margin: auto 6.66% auto 0
}

#sousbloc_activites2-3 {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 6.66% 0 0;
}

#sousbloc_activites4 {
    display: flex;
    flex-direction: row;
    width: 20%;
    margin: auto 6.66% auto 0
}

#sousbloc_activites5-6 {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.activities_big_cards {
    border-radius: 20px;
    box-shadow: 3px 3px 15px lightgrey;
    height: auto;
    margin: 0 4em 0 0;
}

#calanques {
    margin: auto;
}

.activities_medium_card1 {
    border-radius: 20px;
    box-shadow: 3px 3px 15px lightgrey;
    height: 53%;
    margin: 0 auto auto auto;
}

.activities_medium_card2 {
    border-radius: 20px;
    box-shadow: 3px 3px 15px lightgrey;
    /*height: 50%; ça faissait beugueur parc longchamps qui se retrouvait plus bas*/
    margin: auto 0 0 auto;
}

.activities_small_card1 {
    border-radius: 20px;
    box-shadow: 3px 3px 15px lightgrey;
    height: auto;
    margin: auto auto 0 auto;
    width: 365px;
}

.activities_small_card2 {
    border-radius: 20px;
    box-shadow: 3px 3px 15px lightgrey;
    height: auto;
    margin: 0 0 auto auto;
}

.activities_text_cards {
    align-items: center;
    background-color: white;
    border-radius: 0 0 20px 20px;
    display: flex;
    font-family: 'Raleway-SemiBold';
    font-size: 22px;
    height: 68px;
    opacity: 0.99;
    padding: 0 0 0 15px;
    width: auto;
    margin-top: -10%;
}

/* Footer */
footer {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    margin-bottom: -4em;
    margin-inline-start: -4em;
    padding: 1em 4em 1em 4em;
    position: absolute;
    width: 150%;
}

#apropos {
    width: 23%;
}

#noshebergements {
    width: 23%;
}

#assistance {
    width: 23%;
}

@media (max-width: 1440px) {
    .activities_text_cards {
        height: 55px;
        margin-top: -15%;
    }

    #bloc_boutons_filtres {
        width: 80%;
    }

    .hosting_cards {
        height: 180px;
    }

    .text_hosting_cards {
        height: 60px;
        top: -14px;
    }

    #sousbloc_activites1,
    #sousbloc_activites2-3,
    #sousbloc_activites4,
    #sousbloc_activites5-6 {
        height: auto;
    }

    .activities_big_cards {
        margin: 0;
    }

    .photos_activites {
        width: 100%;
    }

    .activities_small_card1 {
        width: 100%;
    }

    #sousbloc_activites2-3 {
        height: auto;
        margin: 0 6.66% 0 0;
    }

    .text_popular_cards {
        width: 60%;
    }

    .div_photos_populaires {
        width: 40%;
    }

    #bloc_populaires .stars {
        bottom: -35px;
    }

    .activities_text_cards {
        font-size: 20px;
    }
}

@media (max-width: 1280px) {
    #bloc_filtres {
        width: 100%;
    }

    #bloc_boutons_filtres {
        width: 65%;
    }

    .hosting_cards {
        height: 177px;
        margin: 0 auto 2% auto;
    }

    #chart_icon {
        padding-left: 15%;
    }

    #titre_hebergements {
        height: 40px;
        margin: 0 0 2% 2%;
    }

    #bloc_populaires .stars {
        bottom: -20px;
    }
}

@media (max-width: 1024px) {
    #titre_filtres {
        width: 10%;
    }

    #bloc_boutons_filtres {
        width: 90%;
    }

    .hosting_cards {
        height: 140px;
    }

    #search_Bloc3 {
        width: 30%;
    }

    .text_popular_cards {
        padding: 0.5em 1em 0 1em;
    }

    #bloc_populaires .stars {
        bottom: 0;
    }

    i.fas.fa-star {
        font-size: 10px;
    }

    .activities_text_cards {
        height: 38px;
        margin-top: -15%;
        font-size: 15px;
    }

    #bloc_menu {
        width: 40%;
    }
}