@font-face {
    font-family: 'Raleway-Regular';
    src: url('font/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('font/Raleway-Bold.ttf') format('truetype'); 
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('font/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('font/Raleway-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('font/Raleway-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-Light';
    src: url('font/Raleway-Light.ttf') format('truetype');
}

body {
    font-family: 'Raleway-Light', Arial, Helvetica, sans-serif;
    margin: 0 2% 0 2%;
    padding: 0;
}

main {
    margin: auto;
    width: 90%;
}

a {
    display: block;
    transition: color 0.6s linear;
    font-family: 'Raleway-Medium';
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

a:hover {
    color: #0065FC;
}

a {
    font-size: 1.2vw;
}

h1 {
    font-family: 'Raleway-Bold';
    font-size: 1.6vw;
    margin-bottom: 2%;
}

h2 {
    font-family: 'Raleway-Bold';
    font-size: 1.5vw;
}

h3 {
    font-family: 'Raleway-Bold';
    font-size: 1.4vw;
}

h4 {
    margin: 0;
    padding: 0;
    font-family: 'Raleway-SemiBold';
    font-size: 1.4vw;
}

p {
    font-family: 'Raleway-Light';
    font-size: 1.3vw;
}

span {
    color: black;
    font-size: 1.3vw;
    margin-top: 1.2%;
}

strong {
    font-family: 'Raleway-SemiBold';
}

html {
    overflow-x: hidden;
}

/* Logo et menu */
#bloc_header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#bloc_logo {
    width: 60%;
    margin-top: 2%;
}

#logo { 
    width: 100%;
    height: auto;
}

#bloc_menu {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

#bloc_menu a {
    padding: 2.5em 0 0 0;
}

a.current {
    border-top: 2px solid rgba(0, 101, 252, 1);
    padding-top: 3.9em;
    color: rgba(0, 101, 252, 1);
}

.hover_menu {
    border-top: 2px solid rgba(0, 101, 252, 0);
    transition: border-color 0.6s linear;
}

.hover_menu:hover {
    border-top: 2px solid rgba(0, 101, 252, 1);
}

#inscription_menu a {
    font-family: 'Raleway-Bold';
    color: #0065FC;
    transition: transform 1s ease-in-out;
}

#inscription_menu a:hover {
    transform: scale(1.1);
}

#menu_portable {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

/* Recherche */
#bloc_search-form {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 3em;
    margin-top: 1em;
}

input {
    width: 100%;
    height: 93%;
    border: solid #F2F2F2 1px;
}

#search_Bloc1 {
    width: 7%;
    height: 3rem;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search_Bloc2 {
    width: 30%;
    height: 3rem;
}

::placeholder {
    font-family: 'Raleway-SemiBold';
    font-size: 1.2vw;
    padding-left: 0.8em;
    color: black;
}

input:hover::placeholder {
    color: lightgrey;
}

input:focus::placeholder {
    color: lightgrey;
}

#search_Bloc3 {
    align-items: center;
    width: 20%;
    height: 3rem;
    background-color: #0065FC;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    display: flex;
    font-family: 'Raleway-SemiBold';
    height: auto;
    justify-content: center;
    transition: background-color 1s ease;
    transition: color 1s ease;
}

#search_Bloc3:hover {
    color: #0065FC;
    cursor: pointer;
    background-color: #DEEBFF;
}

#search_icon {
    display: none;
}

/* Filtres */
#bloc_filtres {
    display: flex;
    flex-direction: row;
    padding-left: 0.1rem;
    margin-top: 2rem;
    margin-bottom: 2em;
    width: 70%;
}

#titre_filtres {
    align-items: center;
    display: flex;
    width: 8%;
}

#bloc_boutons_filtres {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

#bloc_economic_filter {
    display: flex;
    margin: 0 2% 0 2%;
}

#economic_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 60%;
    color: #0065FC;
    z-index: 99;
    width: 2.7rem;
    height: 2.7rem;
    font-size: 1rem;
}

#bloc_economic_filter:hover #economic_icon {
    background-color: #0065FC;
    color: #DEEBFF;
    cursor: pointer;
    transform: rotate(360deg);
    transition: 1.3s ease;
}

#economic_text {
    display: flex;
    align-items: center;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    border-width: 3px 3px 3px 0;
    border: solid #F2F2F2;
    margin-left: -1.5rem;
    padding: 0 1em 0 2em;
    font-family: 'Raleway-SemiBold';
    font-size: 0.9rem;
    text-align: center;
    width: 5rem;
    height: 2.3rem;
    -webkit-transition: background-color 1s ease;
    transition: color 1s ease;
}

#bloc_economic_filter:hover #economic_text {
    background-color: #DEEBFF;
    border-width: 3px 3px 3px 0;
    border: solid #DEEBFF;
    color: #0065FC;
    cursor: pointer;
}

#bloc_family_filter {
    display: flex;
    margin: 0 2% 0 0;
}

#family_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 60%;
    color: #0065FC;
    z-index: 99;
    width: 2.7rem;
    height: 2.7rem;
    font-size: 1rem;
}

#bloc_family_filter:hover #family_icon {
    background-color: #0065FC;
    color: #DEEBFF;
    cursor: pointer;
    transform: rotate(360deg);
    transition: 1.3s ease;
}

#family_text {
    align-items: center;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    border-width: 3px 3px 3px 0;
    border: solid #F2F2F2;
    display: flex;
    font-family: 'Raleway-SemiBold';
    font-size: 0.9rem;
    text-align: center;
    width: 3.5rem;
    height: 2.3rem;
    margin-left: -1.5rem;
    padding: 0 1em 0 2em;
    -webkit-transition: background-color 1s ease;
    transition: color 1s ease;
}

#bloc_family_filter:hover #family_text {
    background-color: #DEEBFF;
    border: solid #DEEBFF;
    border-width: 3px 3px 3px 0;
    cursor: pointer;
    color: #0065FC;
}

#bloc_romantic_filter {
    display: flex;
    margin: 0 2% 0 0;
}

#romantic_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 60%;
    z-index: 99;
    color: #0065FC;
    width: 2.7rem;
    height: 2.7rem;
    font-size: 1rem;
}

#bloc_romantic_filter:hover #romantic_icon {
    background-color: #0065FC;
    color: #DEEBFF;
    cursor: pointer;
    transform: rotate(360deg);
    transition: 1.3s ease;
}

#romantic_text {
    align-items: center;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    border-width: 3px 3px 3px 0;
    border: solid #F2F2F2;
    display: flex;
    font-family: 'Raleway-SemiBold';
    margin-left: -1.5rem;
    padding: 0 1em 0 2em;
    font-size: 0.9rem;
    text-align: center;
    width: 4.9rem;
    height: 2.3rem;
    -webkit-transition: background-color 1s ease;
    transition: color 1s ease;
}

#bloc_romantic_filter:hover #romantic_text {
    background-color: #DEEBFF;
    border: solid #DEEBFF;
    border-width: 3px 3px 3px 0;
    cursor: pointer;
    color: #0065FC;
}

#bloc_pet_filter {
    display: flex;
}

#pet_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 60%;
    z-index: 99;
    color: #0065FC;
    width: 2.7rem;
    height: 2.7rem;
    font-size: 1rem;
}

#bloc_pet_filter:hover #pet_icon {
    background-color: #0065FC;
    color: #DEEBFF;
    cursor: pointer;
    transform: rotate(360deg);
    transition: 1.3s ease;
}

#pet_text {
    align-items: center;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    border-width: 3px 3px 3px 0;
    border: solid #F2F2F2;
    display: flex;
    font-family: 'Raleway-SemiBold';
    margin-left: -1.5rem;
    padding: 0 1em 0 2em;
    font-size: 0.9rem;
    text-align: center;
    width: 8rem;
    height: 2.3rem;
    -webkit-transition: background-color 1s ease;
    transition: color 1s ease;
}

#bloc_pet_filter:hover #pet_text {
    background-color: #DEEBFF;
    border: solid #DEEBFF;
    border-width: 3px 3px 3px 0;
    cursor: pointer;
    color: #0065FC;
}

/* Icone info */
#info {
    display: flex;
    flex-direction: row;
    height: 15px;
}

#info_icon {
    margin: 0 0.5em -0.5em 1em;
    color: #0065FC;
    border: solid #F2F2F2 1px;
    width: 13px;
    padding-left: 8px;
    padding-bottom: 0.5em;
    border-radius: 50%;
}

/* Hébergements */
#hosting {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

#bloc_hebergements {
    width: 70%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 2% 1% 2% 1%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 3%;
}

#titre_hebergements {
    margin: 0 0 1rem 2%;
    width: 100%;
}

.photos_hebergements {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.photos_hebergements_smartphone {
    display: none;
}

.hosting_cards {
    background-color: white;
    border-radius: 20px;
    border: solid white 5px;
    box-shadow: 0.1rem 0.1rem 0.3rem lightgrey;
    height: auto;
    margin: 0 2% 2% 2%;
    width: 28%;
    transition: transform 1s ease-in-out;
}

.hosting_cards:hover {
    transform: rotate(5deg) scale(1);
}

.title_hosting_cards {
    margin-bottom: -5%;
}

.text_hosting_cards {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 0.99;
    padding: 3%;
    margin-top: -10%;
    margin-bottom: -15%;
    width: auto;
}

#afficher_plus a {
    width: 100%;
    margin-left: 15%;
    margin: 10% 0 10% 15%;
    font-size: 1.3vw;
}

/* Etoiles de notation */
.stars {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
}

.emptystars {
    color: #F2F2F2;
}

.fullstars {
    color: #0065FC;
}

/* Les plus populaires */
#bloc_populaires {
    width: 30%;
    background-color: #F2F2F2;
    padding: 2%;
    border-radius: 20px;
    margin-top: 4%;
}

#titre_populaires {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99%;
    margin-bottom: 1rem;
}

#chart_icon {
    font-size: 1.3rem;
}

#div_popular_cards {
	display: flex;
    flex-direction: column;
    padding: 2% 1% 2% 1%;
}

.popular_cards {
    width: 100%;
    height: auto;
    margin-bottom: 20%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 0.1rem 0.1rem 0.3rem lightgrey;
    background-color: white;
    transition: transform 1s ease-in-out;
}

.popular_cards:hover {
    transform: scale(1.1);
}

.popular_cards a {
    display: flex;
    width: 100%;
}

.div_photos_populaires {
    display: flex;
    width: 35%;
}

.photos_populaires {
    border: solid white 5px;
    height: auto;
    border-radius: 20px 0 0 20px;
    width: 100%;
}

.title_popular_cards {
    margin-bottom: -10%;
}

.text_popular_cards {
    background-color: white;
    border-radius: 0 20px 20px 0;
    opacity: 0.99;
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    position: relative;
}

#bloc_populaires .stars {
    position: relative;
    bottom: -10%;
    padding: 0;
    margin: 0;
}

/* Activités */
#titre_activites {
    width: 100%;
    margin: 5% 0 1% 0;
}

#bloc_activites {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    display: flex;
}

.photos_activites {
    width: 100%;
    border-radius: 20px;   
}

.photos_activites_smartphone {
    display: none;
}

#sousbloc_activites1 {
    display: flex;
    flex-direction: row;
    width: 23%;
    margin: auto 3% auto 0;
}

#sousbloc_activites2-3 {
    display: flex;
    flex-direction: column;
    width: 23%;
    margin: auto 3% auto 0;
}

#sousbloc_activites4 {
    display: flex;
    flex-direction: row;
    width: 23%;
    margin: auto 3% auto 0;
}

#sousbloc_activites5-6 {
    display: flex;
    flex-direction: column;
    width: 23%;
}

.activities_big_cards {
    border-radius: 20px;
    box-shadow: 0.1rem 0.1rem 0.3rem lightgrey;
    transition: transform 1s ease-in-out;
}

.activities_big_cards:hover {
    transform: translate(0) scale(0.9);
}

.activities_medium_card1 {
    border-radius: 20px;
    margin-bottom: 13%;
    box-shadow: 0.1rem 0.1rem 0.3rem lightgrey;
    transition: transform 1s ease-in-out;
}

.activities_medium_card1:hover {
    transform: translate(0) scale(0.9);
}

.activities_small_card1 {
    transition: transform 1s ease-in-out;
    box-shadow: 0.1rem 0.1rem 0.3rem lightgrey;
    border-radius: 20px;
}

.activities_medium_card2 {
    border-radius: 20px;
    box-shadow: 0.1rem 0.1rem 0.3rem lightgrey;
    transition: transform 1s ease-in-out;
}

.activities_medium_card2:hover {
    transform: translate(0) scale(0.9);
}

.activities_medium_card2 {
    border-radius: 20px;
    box-shadow: 0.1rem 0.1rem 0.3rem lightgrey;
    transition: transform 1s ease-in-out;
}

.activities_small_card1:hover {
    transform: translate(0) scale(0.9);
}

.activities_small_card2 {
    border-radius: 20px;
    margin-bottom: 13%;
    box-shadow: 0.1rem 0.1rem 0.3rem lightgrey;
    transition: transform 1s ease-in-out;
}

.activities_small_card2:hover {
    transform: translate(0) scale(0.9);
}

.activities_text_cards {
    background-color: white;
    border-radius: 0 0 20px 20px;
    opacity: 0.99;
    padding: 6% 0 0 4%;
    width: auto;
    height: 1.6rem;
    margin-top: -16%;
}

/* Footer */
#footer {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 100%;
}

#bloc_footer {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 87%;
}

#apropos {
    width: 33%;
}

#noshebergements {
    width: 33%;
}

#assistance {
    width: 33%;
}
