@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Bold.ttf') format('truetype'),
        url('font/Raleway-ExtraBold.ttf') format('truetype'),
        url('font/Raleway-ExtraLight.ttf') format('truetype'),
        url('font/Raleway-Light.ttf') format('truetype'),
        url('font/Raleway-Medium.ttf') format('truetype'),
        url('font/Raleway-Regular.ttf') format('truetype'),
        url('font/Raleway-SemiBold.ttf') format('truetype'),
        url('font/Raleway-Thin.ttf') format('truetype'),        
}

body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin: 0 4em 4em 4em;
}

/* Logo et menu */

#blocHeader {
    display: flex;
    flex-direction: row;
}

#blocLogo {
   width: 70%;
   margin-top: 4em;
}

#blocMenu {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-top: 4em;
}

.thin_text {
    font-weight: 100;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 20px;
}

a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 3.9em;
}

.current {
    border-top: 2px solid #0065FC;
    padding-top: 3.9em;
    color: #0065FC;
}


/* Recherche */

#bloc_searchForm {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 3em;
}

#map_marker_icon {
    padding: 1em 0 0 1.3em;
}

#searchBloc1 {
    width: 9%;
    height: 3em;
    background-color: #F2F2F2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#searchBloc2 {
    width: 33%; 
    height: auto; 
}

input {
    height: 3.3em;
    border: solid #F2F2F2 1px;
}

::placeholder {
    font-weight: bold;
    font-size: 15px;
    padding-left: 0.8em;
    color: black;
}

#searchBloc3 {
    width: 17%;
    height: auto;
    background-color: #0065FC;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;  
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 1em 0 0 1em;
}

#searchBloc3:hover {
    color: #0065FC;
    cursor: pointer;
    background-color: #DEEBFF;
}

/* Filtres */

#bloc_filtres {
    display: flex;
    flex-direction: row; 
    padding-left: 0.5em;
    width: auto;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

#titre_filtres {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
}

#bloc_economicFilter {
    display: flex;   
    margin: 1.3em 0 0 2em; 
    width: 13%;
    height: 50px;
}

#economic_icon {
    background-color: #DEEBFF;
    padding: 1.1em 0.9em 0 0.9em;
    border-radius: 60%;
    z-index: 99;
    color: #0065FC;
}

#economic_icon_reversed {
    background-color: #0065FC;
    padding: 1.1em 0.9em 0 0.9em;
    border-radius: 60%;
    z-index: 99;
    color:#DEEBFF ;
}

#economic_icon_reversed {
    display: none;
}

#bloc_economicFilter:hover #economic_icon_reversed {
    display:block;
    cursor: pointer;
}

#bloc_economicFilter:hover #economic_icon {
	display:none;
}

#economic_text {
    border: solid #F2F2F2;
    border-width: 3px 3px 3px 0;
    padding: 0.9em 1em 0 2em;
    margin-left: -1.5em;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    font-weight: bold;
}

#bloc_economicFilter:hover #economic_text {
    background-color: #DEEBFF;
    border: solid #DEEBFF;
    border-width: 3px 3px 3px 0;
    cursor: pointer;
    color: #0065FC;
}

#bloc_familyFilter {
    display: flex;   
    margin: 1.3em 0 0 2em; 
    width: 10%;
    height: 50px; 
}

#family_icon {
    background-color: #DEEBFF;
    padding: 1.1em 1.2em 0 1.2em;
    border-radius: 60%;
    z-index: 99;
    color: #0065FC;
}

#family_icon_reversed {
    background-color: #0065FC;
    padding: 1.1em 1.2em 0 1.2em;
    border-radius: 60%;
    z-index: 99;
    color:#DEEBFF;
}

#family_icon_reversed {
    display: none;
}

#bloc_familyFilter:hover #family_icon_reversed {
    display:block;
    cursor: pointer;
}

#bloc_familyFilter:hover #family_icon {
	display:none;
}

#family_text {
    border: solid #F2F2F2;
    border-width: 3px 3px 3px 0;
    padding: 0.9em 1em 0 2em;
    margin-left: -1.5em;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    font-weight: bold;
}

#bloc_familyFilter:hover #family_text {
    background-color: #DEEBFF;
    border: solid #DEEBFF;
    border-width: 3px 3px 3px 0;
    cursor: pointer;
    color: #0065FC;
}

#bloc_romanticFilter {
    display: flex;   
    margin: 1.3em 0 0 2em; 
    width: 13%;
    height: 50px;
}

#romantic_icon {
    background-color: #DEEBFF;
    padding: 1.1em 1em 0 1em;
    border-radius: 60%;
    z-index: 99;
    color: #0065FC;
}

#romantic_icon_reversed {
    background-color: #0065FC;
    padding: 1.1em 1em 0 1em;
    border-radius: 60%;
    z-index: 99;
    color:#DEEBFF ;
}

#romantic_icon_reversed {
    display: none;
}

#bloc_romanticFilter:hover #romantic_icon_reversed {
    display:block;
    cursor: pointer;
}

#bloc_romanticFilter:hover #romantic_icon {
	display:none;
}

#romantic_text{
    border: solid #F2F2F2;
    border-width: 3px 3px 3px 0;
    padding: 0.9em 1em 0 2em;
    margin-left: -1.5em;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    font-weight: bold;
}

#bloc_romanticFilter:hover #romantic_text {
    background-color: #DEEBFF;
    border: solid #DEEBFF;
    border-width: 3px 3px 3px 0;
    cursor: pointer;
    color: #0065FC;
}

#bloc_petfriendlyFilter{
    display: flex;   
    margin: 1.3em 0 0 1.7em; 
    width: 30%;
    height: 50px;
}

#pet_icon {
    background-color: #DEEBFF;
    padding: 1em 1em 0 1em;
    border-radius: 60%;
    z-index: 99;
    color: #0065FC;
}

#pet_icon_reversed {
    background-color: #0065FC;
    padding: 1.1em 1em 0 1em;
    border-radius: 60%;
    z-index: 99;
    color:#DEEBFF ;
}

#pet_icon_reversed {
    display: none;
}

#bloc_petfriendlyFilter:hover #pet_icon_reversed {
    display:block;
    cursor: pointer;
}

#bloc_petfriendlyFilter:hover #pet_icon {
	display:none;
}

#petfriendly_text {
    border: solid #F2F2F2;
    border-width: 3px 3px 3px 0;
    padding: 0.9em 1em 0 2em;
    margin-left: -1.5em;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    font-weight: bold;
}

#bloc_petfriendlyFilter:hover #petfriendly_text {
    background-color: #DEEBFF;
    border: solid #DEEBFF;
    border-width: 3px 3px 3px 0;
    cursor: pointer;
    color: #0065FC;
}

#info_icon {
    padding-left: 0.5em;
}

span {
    color: black;
    font-size: 15px;
}

/* Hébergements */

#hosting {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#titre_hebergements {
    width: 100%;
}

#bloc_hebergements {
    width: 60%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 1em 2em 3em 2em;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    margin-right: 3%;
}

.photos_hebergements {
    border: solid white 5px;
    width: 200px;
    height: auto;
    border-radius: 20px;
}

.hosting_text_card {
    width: 193px;
    height: 58px;
    margin-top: -2.6em;
    padding: 0.5em 0 0 1.5em;
    background-color: white;
    opacity: 0.99;
    font-size: 11px;
    font-weight: thin;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#titre_card1 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#card1-1 {
    margin: 0 1.5em 2em 0;
    width: 210px;
    height: auto; 
    background-color: white;   
    border-radius: 20px;
    box-shadow: 3px 3px 15px grey;
}

#titre_card2-1 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#card2-1 {
    margin: 0 1.5em 2em 0;
    width: 210px;
    height: auto; 
    background-color: white;   
    border-radius: 20px;
    box-shadow: 3px 3px 15px grey;
}

#titre_card3-1 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#card3-1 {
    margin: 0 1.5em 2em 0;
    width: 210px;
    height: auto; 
    background-color: white;   
    border-radius: 20px;
    box-shadow: 3px 3px 15px grey;
}

#titre_card4-1 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#card4-1 {
    margin: 0 1.5em 2em 0;
    width: 210px;
    height: auto; 
    background-color: white;   
    border-radius: 20px;
    box-shadow: 3px 3px 15px grey;
}

#titre_card5-1 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#card5-1 {
    margin: 0 1.5em 2em 0;
    width: 210px;
    height: auto; 
    background-color: white;   
    border-radius: 20px;
    box-shadow: 3px 3px 15px grey;
}

#titre_card6-1 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#card6-1 {
    margin: 0 1.5em 2em 0;
    width: 210px;
    height: auto; 
    background-color: white;   
    border-radius: 20px;
    box-shadow: 3px 3px 15px grey;
}

.stars {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.emptystars {
    color: #F2F2F2;
}

.fullstars {
    color: #0065FC;
}

/* Les plus populaires */

#bloc_populaires {
    width: 25%;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 1em 2em 2em 2em;
    margin-top: 2em; 
}

#titre_populaires {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#chart_icon {
    padding: 1em 0 0 5em;
}

.photos_populaires {
    border: solid white 5px;
    width: 125px;
    height: 125px;
    border-radius: 20px;
}

.popular_text_card {
    width: 100%;
    height: auto;
    margin-left: -2em;
    padding: 1.5em 2em 0 1.5em;
    background-color: white;
    opacity: 0.99;
    font-size: 11px;
    font-weight: thin;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#titre_card1-2 {
    font-size: 13px;
    font-weight: 600;

}

#card1-2 {
    width: 100%;
    height: auto;
    margin-bottom: 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 3px 3px 15px lightgrey;
}

#titre_card2-2 {
    font-size: 13px;
    font-weight: 600;
}

#card2-2 {
    width: 100%;
    height: auto;
    margin-bottom: 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 3px 3px 15px lightgrey;
}

#titre_card3-2 {
    font-size: 13px;
    font-weight: 600;
    
}

#card3-2 {
    width: 100%;
    height: auto;
    margin-bottom: 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 3px 3px 15px lightgrey;
}

/* Activités */

#titre_activites {
    width: auto;
    margin-top: 4em;
    font-size: 17px;
}

#bloc_activites {
    width: 100%;
    height: auto;
    margin-bottom: 3em;
}

.photos_activites {
    width: 270px;
    height: auto;
    border-radius: 20px;
}

#sousbloc_activites1 {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;  
}

#sousbloc_activites2 {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;    
}

#sousbloc_activites3 {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap; 
    margin-bottom: 2.5em;   
}

#sousbloc_activites4 {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;   
}

#sousbloc_activites5 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
}

#sousbloc_activites5 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    margin-bottom: 2.5em;
}

#activities_card1 {
    width: 270px;
    height: 378px;  
    border-radius: 20px;
    margin-right: 2em;
    box-shadow: 3px 3px 15px lightgrey;
    margin : 0 2em 2.5em 0;
}

#activities_card2 {
    width: 270px;
    height: 180px;  
    border-radius: 20px;
    box-shadow: 3px 3px 15px lightgrey;
    margin: 0 2em 2.5em 0;
}

#activities_card3 {
    width: 270px;
    height: 154px;  
    border-radius: 20px;
    box-shadow: 3px 3px 15px lightgrey;
    margin : 0 0 0.5em 0;
}

#activities_card4 {
    width: 270px;
    height: 378px;  
    border-radius: 20px;
    box-shadow: 3px 3px 15px lightgrey;
    margin: 0 2em 2.5em 0;
}

#activities_card5 {
    width: 270px;
    height: 154px;  
    border-radius: 20px;
    box-shadow: 3px 3px 15px lightgrey;
    margin : 0 0 2.5em 0;
}

#activities_card6 {
    width: 270px;
    height: 180px;  
    border-radius: 20px;
    box-shadow: 3px 3px 15px lightgrey;
    margin : 0 0 2.5em 0;
}

.activities_text_card {
    width: 247px;
    height: 35px;
    margin-top: -3.5em;
    padding: 1em 0 0 1.5em;
    background-color: white;
    opacity: 0.99;
    font-size: 15px;
    font-weight: bold;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


/* Footer */

#footer {
    background-color: #F2F2F2 ;
    width: 150%;
    margin-bottom: -5em;
    margin-inline-start: -4em;
    padding: 1em 4em 1em 4em;
    display: flex;
    flex-direction: row;
}

#apropos {
    width: 23%;
}

#noshebergements {
    width: 23%;
}

#assistance {
    width: 23%;
}




@media all and (max-width: 1024px){
    #blocMenu {
        width: auto;
        
    }
}



