@media screen and (min-width: 1280px) {
    
    main {
        width: 1150px;
    }

    #bloc_hebergements {
        width: 85%;
    }

    .hosting_cards {
        width: 28%;
    }

    .text_hosting_cards {
        margin-bottom: -2%;
    }

    .stars {
        margin-bottom: 2%;
    }

    #bloc_populaires {
        width: 30%;
    }

    #bloc_populaires .stars {
        bottom: -2%;
    }

    #bloc_footer {
        width: 1150px;
    }


}   