@media screen and (max-width: 1024px) 
{
    main {
        width: 900px;
    }

    h1 {
        font-size: 20px;
        font-family: 'Raleway-Medium';
    }

    h2 {
        font-size: 16px;
        font-family: 'Raleway-Medium';
    }

    h3 {
        font-size: 14px;
        font-family: 'Raleway-Medium';
    }

    h4 {
        font-size: 13px;
        font-family: 'Raleway-Medium';
    }

    p {
        font-size: 12px;
    }

    span {
        font-size: 15px;
    }

    #bloc_menu {
        width: 40%;
    }

    #search_Bloc3 {
        width: 30%;
    }

    #titre_filtres {
        width: 10%;
    }

    #bloc_boutons_filtres {
        width: 90%;
    }

    #bloc_hebergements {
        width: 70%;
    }
    #titre_hebergements {
        margin-bottom: 15px;
    }
    .text_hosting_cards {
        padding: 0.5em 0 0 0.5em;
        top: -20px;
    }

    .title_hosting_cards {
        margin-bottom: -7px;
    }

    .stars {
        margin-top: -10px;
    }

    #afficher_plus a {
        margin: 15px 0 15px 20px;
     }

    #titre_populaires {
        margin-bottom: -2px;
    }

    #bloc_populaires .stars {
        bottom: -4px;
    }

    .text_popular_cards {
        padding: 0.5em 1em 0 0.5em;
    }

    i.fas.fa-star {
        font-size: 12px;
    }

    .activities_medium_card1,
    .activities_small_card2 {
        margin-bottom: 20px;
    }

    .photos_activites {
        width: 210px;
    }

    .activities_text_cards {
        height: 50px;
        margin-top: -50px;
        padding-bottom: 5px;
    }

    #bloc_footer {
        width: 900px;
    }


}