@media (max-width: 650px) 
{
    body {
        margin: 0;
    }

    main {
        width: 520px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    span {
        font-size: 14px;
    }

    #bloc_header {
        flex-direction: column-reverse;
    }

    #bloc_logo {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        width: 80%;
    }

    #logo {
        top: 17px;
        position: absolute;
        left: 17px;
    }

    #bloc_menu {
        width: 100%;
    }

    #menu_portable {
        justify-content: space-around;
    }

    #menu_portable div {
        justify-content: center;
        width: 50%;
    }

    div#hebergements_menu,
    a.hover_menu {
        text-align: center;
        margin: 0;
    }

    #inscription_menu {
        position: relative;
        right: 17px;
        top: 34px;
        margin: 0;
    }

    #bloc_search-form {
        justify-content: center;
        margin: 1em 0 0 1em;
        width: 85%;
    }

    #search_Bloc1 {
        width: 20%;
    }

    #search_Bloc2 {
        width: 60%;
    }

    #search_icon {
        display: inline;
    }

    #search_text {
        display: none;
    }

    input {
        width: 100%;
        height: 100%;
    }

    #search_Bloc3 {
        width: 20%;
        border-radius: 20px;
        margin-left: -20px;
    }

    #bloc_filtres {
        width: 100%;
        flex-wrap: wrap;
    }

    #titre_filtres {
        margin: auto;
        width: 90%;
    }

    #bloc_boutons_filtres {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        margin: auto;
        width: 90%;
    }

    #bloc_economic_filter,
    #bloc_family_filter,
    #bloc_pet_filter,
    #bloc_romantic_filter {
        margin: 2% 5% 0 0;
    }

    #info {
        height: 15px;
        position: relative;
        right: -21px;
        width: 80%;
    }

    #hosting {
        flex-direction: column-reverse;
    }

    #bloc_hebergements {
        background-color: #FFFFFF;
        border-radius: 0;
        margin: auto;
        width: auto;
    }

    #titre_hebergements {
        padding-bottom: 5%;
    }

    #titre_hebergements,
    #titre_populaires,
    #titre_activites {
        margin-left: 1%;
        width: 100%;
    }

    .photos_hebergements {
        display: none;
    }

    .hosting_cards {
        height: auto;
        margin: 0 auto 5% auto;
        width: 500px;
        box-shadow: 2px 2px 10px lightgrey;
    }

    .text_hosting_cards {
        height: 40px;
        margin: auto;
        top: -40px;
    }

    .stars {
        margin-top: 4%;
    }

    i.fas.fa-star {
        font-size: 15px;
    }

    #afficher_plus a {
        width: 100%;
        margin-left: 2%;
        margin-bottom: 70px;
    }

    #bloc_populaires {
        border-radius: 0;
        padding: 2% 2% 2% 2%;
        width: auto;
        margin-bottom: 70px;
    } 

    #chart_icon {
        font-size: 32px;
        padding-right: 18px;
    }

    .popular_cards {
        margin: 2% auto;
        width: 500px;
        box-shadow: 2px 2px 10px lightgrey;
    }

    #titre_populaires {
        padding: 10px 15px 0 5px;
    }

    .div_photos_populaires {
        width: 40%;
    }

    .title_popular_cards {
        margin-bottom: 10px;
    }

    #bloc_populaires .stars {
        bottom: -70px;
    }

    #afficher_plus a {
        margin-top: 30px;
     }

    #bloc_activites {
        display: flex;
        flex-direction: column;
    }

    #sousbloc_activites1,
    #sousbloc_activites2-3,
    #sousbloc_activites4,
    #sousbloc_activites5-6,
    .activities_medium_card1,
    .activities_small_card1,
    .activities_small_card2,
    .activities_medium_card2,
    .activities_big_cards {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .photos_activites {
        display: none;
    }

    .photos_activites_smartphone,
    .photos_hebergements_smartphone {
        display: inline;
        border-radius: 20px;
        width: 100%;
    }

    .activities_big_cards,
    .activities_medium_card1,
    .activities_medium_card2,
    .activities_small_card1,
    .activities_small_card2 {
        height: auto;
        box-shadow: 2px 2px 10px lightgrey;
        margin-top: 5%;
    }

    .activities_text_cards {
        height: 50px;
        margin: 0;
        padding-left: 15px;
        position: relative;
        top: -20px;
        width: auto;
    }

    #footer {
        flex-direction: column;
        width: 100%;
    }

    #apropos {
        width: auto;
    }
    
    #noshebergements {
        width: auto;
    }
    
    #assistance {
        width: auto;
    }
    
}